$fin__root-primary-palette: (
  50:  #e9eef7,
  100: #c5d3ed,
  200: #a0b7e1,
  300: #7899d4,
  400: #5682cb,
  500: #286cc5,
  600: #1f63bb,
  700: #0d58ae,
  800: #004ea3,
  900: #4d4861,
  contrast: (
    50:  rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$fin__root-accent-palette: (
  50:  #e4f8ea,
  100: #bfeecb,
  200: #94e3aa,
  300: #5fd886,
  400: #23ce6a,
  500: #00c44d,
  600: #00b444,
  700: #00a137,
  800: #00902a,
  900: #007015,
  contrast: (
    50:  rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$fin__root-warn-palette: (
  50:  #ffedee,
  100: #ffd1d2,
  200: #f0a19b,
  300: #e67e75,
  400: #ef6351,
  500: #f25836,
  600: #e54f36,
  700: #d34631,
  800: #c6402a,
  900: #b7361e,
  contrast: (
    50:  rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);
