
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'sass:map';
@use '@angular/material' as mat;
@use './assets/scss/theme.scss' as theme;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-finance-project-primary: mat.define-palette(theme.$fin__root-primary-palette, 500, 300, 900);
$angular-finance-project-accent: mat.define-palette(theme.$fin__root-accent-palette, 500, 300, 700);

// The warn palette is optional (defaults to red).
$angular-finance-project-warn: mat.define-palette(theme.$fin__root-warn-palette, 400);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-finance-project-theme: mat.define-light-theme((
  color: (
    primary: $angular-finance-project-primary,
    accent: $angular-finance-project-accent,
    warn: $angular-finance-project-warn,
  )
));

$color-config: mat.get-color-config($angular-finance-project-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');
$warn-palette: map.get($color-config, 'warn');

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-finance-project-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --color1: #fbf5ef;
  --color2: #7899d4;
  --color3: #4d4861;
  --color4: #f06449;
  --color5: #62a87c;

  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

button {
  margin-bottom: 5px !important;
  margin-right: 5px !important;
}

.fin__btn-dark {
  color: var(--color1) !important;
  background-color: var(--color3) !important;
}

.fin__btn-light {
  color: var(--color3) !important;
  background-color: var(--color1) !important;
}

.row {
  margin-right: 0 !important;
}

a {
  text-decoration: none;
  color: mat.get-color-from-palette($primary-palette, 500);
}

mat-hint {
  font-size: 0.7rem;
}

html, body { height: 100%; }
body { margin: 0; }
