<main class="row align-items-center">
  <div class="col ms-3">
    <h1>Keep up</h1>
    <h3>
      with your financial situation, set goals and have a more care-free life!
    </h3>
    <h4><a routerLink="auth">Sign up now</a>, it's free!</h4>
  </div>
  <div class="col">
    <img
      class="img-fluid"
      src="../../assets/images/Finance-amico.svg"
      alt="A picture of graphs and money, referencing financial situation."
    />
    <a target="_blank" class="svg-reference d-block text-center" href="https://storyset.com/business"
      >Business illustrations by Storyset</a
    >
  </div>
</main>
